[submodule "packages/numpy-rust"]
	path = packages/numpy-rust
	url = git@github.com:codepod-sandbox/numpy-rust.git
[submodule "packages/pillow-rust"]
	path = packages/pillow-rust
	url = git@github.com:codepod-sandbox/pillow-rust.git
[submodule "packages/matplotlib-py"]
	path = packages/matplotlib-py
	url = git@github.com:codepod-sandbox/matplotlib-py.git
[submodule "packages/pandas-rust"]
	path = packages/pandas-rust
	url = git@github.com:codepod-sandbox/pandas-rust.git
[submodule "packages/rust-ports/grex"]
	path = packages/rust-ports/grex
	url = https://github.com/pemistahl/grex.git
	branch = main
[submodule "packages/c-ports/jq/upstream"]
	path = packages/c-ports/jq/upstream
	url = https://github.com/jqlang/jq.git
[submodule "packages/c-ports/file/upstream"]
	path = packages/c-ports/file/upstream
	url = https://github.com/file/file.git
[submodule "packages/c-ports/coreutils/upstream"]
	path = packages/c-ports/coreutils/upstream
	url = https://github.com/coreutils/coreutils.git
